@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">ASP.NET Core Forme</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<!--Link ka stranici Register Student se nalazi u _Layout.cshtml u listi navbar
    elemenata. Na odgovaranju ce se isto traziti od vas da napravite novu stranicu
    i okacite link ka njoj na index stranici.
-->